.search-form{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
}

.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}




